img{
    width: 60%;
    height: 200px;
    border-radius: 15px;
    margin: 15px;
}
select{
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 15px;
}
p{
    display: block;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(67, 67, 231);
    color: white;
}
a{
    text-decoration: none;
}